* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

html {
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-spacing: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

.loaderArea {
  background-image: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 156px;
  background-color: white;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.header {
  height: 600px;
  background-color: black;
  background-image: url("../img/car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header-dark {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header .header-dark .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.header .header-dark .header-box .header-logo img {
  width: 134px;
}

.header .header-dark .header-box .header-call .header-call-email {
  text-align: center;
}

.header .header-dark .header-box .header-call .header-call-email a {
  color: black;
  text-decoration: underline;
  font-size: 18px;
}

.header .header-dark .header-box .header-call .header-call-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-dark .header-box .header-call .header-call-phone .header-call-icon {
  width: 32px;
}

.header .header-dark .header-box .header-call .header-call-phone .header-call-num a {
  font-size: 25px;
}

.header .header-dark .header-title {
  text-align: center;
}

.header .header-dark h2 {
  color: white;
  font-size: 52px;
  margin-top: 32px;
}

.header .header-dark h1 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Jura', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 276px;
  font-size: 74px;
}

.search .navigator {
  height: 80px;
  background-color: #FFDB00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.search .navigator .menu {
  width: 100%;
}

.search .navigator .menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.search .navigator .menu .main-menu li {
  width: 100%;
  -webkit-transition: 250ms;
  transition: 250ms;
  font-weight: 700;
}

.search .navigator .menu .main-menu li:hover {
  background-color: #E8C500;
}

.search .navigator .menu .main-menu li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.tab-b {
  display: none;
}

.tab-b .container {
  padding: 0 35px;
}

.tab-b .container .container-center {
  width: 836px;
  margin: 0 auto;
}

.tab-b .container .container-center .info-neolift {
  margin-bottom: 30px;
}

.tab-b .container .container-center .info-neolift h2 {
  text-align: center;
  margin-bottom: 30px;
}

.tab-b .container .container-center .align-content .contents clearfix::before {
  content: "";
  display: table;
}

.tab-b .container .container-center .align-content p {
  padding-bottom: 17px;
}

.tab-b .container .container-center .align-content ul {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.tab-b .container .container-center .align-content ul li {
  margin-bottom: 11px;
  padding-left: 26px;
  line-height: 27px;
}

.tab-b .container .container-center .align-content ul li::before {
  content: '';
  position: relative;
  top: -2px;
  left: -7px;
  width: 6px;
  height: 6px;
  background: #fcba1f;
  border-radius: 50%;
  display: inline-block;
}

.tab-b .container .section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-b .container .section-main .section-main-img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 100%;
}

.tab-b .container .section-main .section-main-info {
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
}

.tab-b .container .section-main .section-main-info .product-info li {
  line-height: 2.3;
  padding-left: 26px;
}

.tab-b .container .section-main .section-main-info .product-info li::before {
  content: '';
  position: relative;
  top: -2px;
  left: -7px;
  width: 6px;
  height: 6px;
  background: #fcba1f;
  border-radius: 50%;
  display: inline-block;
}

.tab-b .container .section-main .section-main-info .product-info span {
  color: black;
}

.tab-b .container .section-main .section-main-info h2 {
  margin-bottom: 10px;
}

.tab-b .container .section-table {
  padding-top: 50px;
}

.active {
  background-color: white;
}

.fotorama__nav__shaft {
  margin-top: 5px;
}

.fotorama__nav__shaft .fotorama__thumb-border {
  border-color: yellow;
}

.dataTables_scrollHeadInner .tablepress {
  background-color: #FFDB00;
}

.tabl {
  overflow-x: auto;
}

.tabl .dataTables_scrollHead tr {
  text-align: left;
}

.tabl .dataTables_scrollBody tr:hover {
  background-color: #F3F3F3;
}

.tabl .dataTables_scrollBody tr:nth-child(even) {
  background-color: #F9F9F9;
}

.tabl .dataTables_scrollBody tr:nth-child(even):hover {
  background-color: #F3F3F3;
}

.tabl .dataTables_scrollBody .row-hover-frr img {
  max-width: 90%;
}

.tabl .dataTables_scrollBody .row-hover-frr .column-1 {
  padding: 12px 10px;
  width: 360px;
}

.tabl .dataTables_scrollBody .row-hover .column-1 {
  padding: 12px 10px;
  width: 360px;
}

.mail {
  margin-top: 50px;
  text-align: center;
}

.mail .write {
  width: 202px;
  height: 56px;
  background-color: white;
  border: 2px solid black;
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.mail .write:hover {
  background-color: black;
  color: white;
}

.mail .content {
  display: none;
  padding: 0 10px;
}

.mail .content .form-mail {
  margin-top: 50px;
  text-align: center;
}

.mail .content .form-mail .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.mail .content .form-mail .item .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 259px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.mail .content .form-mail .item .input input {
  width: 319px;
  height: 53px;
  font-weight: 700;
  border: 1px solid black;
  background-color: #ffffff;
  padding: 20px 15px 20px 48px;
}

.mail .content .form-mail .item textarea {
  background: url("../img/mail-icon/Layer_39.png") no-repeat 19px 18px;
  padding: 20px 15px 15px 52px;
  width: 600px;
  height: 200px;
  font-weight: 700;
  border: 1px solid black;
}

.mail .content .form-mail button {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid black;
  width: 150px;
  height: 45px;
  background-color: white;
  color: black;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.mail .content .form-mail button:hover {
  background-color: black;
  color: white;
}

.footer {
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/footer.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .footer-section {
  color: white;
  width: 1118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-section .footer-yan .yandex {
  border: 0;
}

.footer .footer-section .footer-contact .footer-contacts-h {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

.footer .footer-section .footer-contact .footer-tel {
  font-size: 29px;
}

.footer .footer-section .footer-contact .call {
  color: blue;
  text-decoration: underline;
}

.footer .footer-section .footer-contact .footer-mail {
  color: red;
}

.footer .footer-section .footer-contact .footer-adress {
  margin-top: 17px;
  margin-bottom: 50px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  width: 374px;
  margin-left: auto;
  margin-right: auto;
  top: 34%;
  left: 0;
  right: 0;
}

.overlay .popup .popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-weight: 400;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ffdb00;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 71px;
}

.overlay .popup-form-header {
  text-align: center;
  background-color: white;
}

.overlay .popup-form-header .popup-form-header-info {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.overlay .popup-form-header .popup-form__input {
  margin-top: 15px;
  width: 291px;
  height: 34px;
  border: 1px solid #ededed;
  background-color: #ffffff;
  padding: 20px 15px 20px 48px;
  border: 1px solid #A9A9A9;
  margin-bottom: 20px;
}

.overlay .popup-form-header .popup-form__btn {
  text-align: center;
  font-size: 16px;
  width: 173px;
  height: 37px;
  background-color: white;
  border: 2px solid black;
  color: black;
  -webkit-transition: 250ms;
  transition: 250ms;
  margin-bottom: 15px;
}

.overlay .popup-form-header .popup-form__btn:hover {
  background-color: black;
  color: white;
}

.fa-send {
  left: 54px;
  top: 14px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
}

.fa {
  width: 22px;
  height: 22px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
  left: 56px;
  top: 24px;
}

.fa-name {
  background: url("../img/mail-icon/persona.svg") no-repeat center;
}

.fa-phone {
  background: url("../img/mail-icon/phone.svg") no-repeat center;
}

.fa-email {
  background: url("../img/mail-icon/email.png") no-repeat center;
}

.inform {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
}

.inform .inform-block {
  position: fixed;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  top: 34%;
  left: 0;
  right: 0;
}

.inform .inform-block .inform-alert {
  padding-top: 12px;
  width: 100%;
  height: 260px;
  background-color: #fff;
  color: black;
  font-size: 21px;
  text-align: center;
  border-radius: 2px;
}

.inform .inform-block img {
  margin-top: 25px;
}

.inform .inform-block h2 {
  margin-bottom: 16px;
}

.inform .inform-block .check-mark {
  width: 174px;
  height: 168px;
  background-color: #4CAF50;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.inform .inform-block .popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-weight: 400;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
}

@media (max-width: 1720px) {
  .tabs-body {
    margin-bottom: 30px;
  }
  .mail {
    margin: 0;
  }
  .container .section-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .section-main .section-main-img {
    margin-bottom: 30px;
  }
  .container .section-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1668px) {
  .footer {
    height: 100%;
  }
  .footer .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-section .footer-contact {
    font-size: 23px;
    margin: 20px 0;
  }
  .footer .footer-section .footer-yan {
    margin-top: 17px;
  }
}
@media (max-width: 1208px) {
  .header .header-dark h2 {
    font-size: 38px;
  }
}

@media (max-width: 1000px) {
  .fa-send {
    top: 24px;
    left: 14px;
  }
  .tab-b .container .container-center {
    width: 100%;
  }
  .footer .footer-section .footer-contact {
    font-size: 15px;
  }
  .mail .content .form-mail {
    margin: 0;
  }
  .mail .content .form-mail .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mail .content .form-mail .item .input {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mail .content .form-mail .item .input input {
    margin: 10px 0;
  }
}
@media (max-width: 890px) {
  .header .header-dark h1{
    font-size: 55px;
  }
  .header .header-dark h2 {
    font-size: 27px;
  } 
}
@media (max-width: 666px) {
  .header .header-dark h1{
    font-size: 41px;
  }
  .header .header-dark h2 {
    font-size: 22px;
  } 
  .yandex {
    width: 500px;
  }
}

@media (max-width: 626px) {
  .tab-b .container {
    padding: 0 14px;
  }
}

@media (max-width: 514px) {
  .header .header-dark h1{
    font-size: 32px;
  }
  .header .header-dark h2 {
    font-size: 18px;
  } 
  .footer .footer-section .footer-contact {
    text-align: center;
  }
  .yandex {
    width: 400px;
  }
}

@media (max-width: 460px) {
  .search .navigator .menu .main-menu li a {
    font-size: 24px;
  }
  .header .header-dark .header-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-dark .header-box .header-logo {
    padding: 0;
  }
  .header .header-dark .header-box .header-call .header-call-email a {
    font-size: 15px;
  }
  .header .header-dark .header-box .header-call .header-call-phone .header-call-num a {
    font-size: 18px;
  }
  .header .header-dark .header-box .header-call .header-call-phone .header-call-icon {
    width: 30px;
  }
}

@media (max-width: 430px) {
  .fa {
    left: 32px;
  }
  .yandex {
    width: 300px;
  }
  .overlay .popup {
    width: 322px;
  }
  .inform .inform-block {
    width: 322px;
  }
  .inform .inform-block .inform-title {
    height: 276px;
    padding-top: 10px;
  }
}

@media (max-width: 382px) {
  .header .header-dark h1{
    font-size: 24px;
  }
  .header .header-dark h2 {
    font-size: 14px;
  } 
  .overlay .popup {
    width: 322px;
  }
}

@media (max-width: 360px) {
  .fa {
    left: 42px;
  }
  .inform .inform-block {
    width: 285px;
  }
  .inform .inform-block .inform-title {
    font-size: 15px;
    height: 252px;
  }
  .overlay .popup {
    width: 284px;
  }
  .overlay .popup-form-header .popup-form__input {
    width: 230px;
  }
 
}

@media (max-width: 350px) {
  .header .header-dark .header-box {
    padding: 0 2px;
  }
  .header .header-dark .header-box .header-call .header-call-phone .header-call-num a {
    font-size: 17px;
  }
  .header .header-dark .header-box .header-call .header-call-phone .header-call-icon {
    width: 18px;
  }
  .mail .content {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */